$primary: #00796B;
$primary-dark: #004C40;
$primary-gradient: linear-gradient(135deg, $primary, $primary-dark);
$primary-dark-gradient: linear-gradient(135deg, darken($primary, 5%), darken($primary-dark, 5%));

$accent-light: #69E2FF;
$accent: #00B0FF;
$accent-dark: #0081CB;

$background-color: #E8EDEC;
$light: $background-color;

$theme-colors: (
  "primary-dark": $primary-dark,
  "accent-light": $accent-light,
  "accent": $accent,
  "accent-dark": $accent-dark
);

$body-bg: $light;
$link-hover-color: $primary-dark;

$si-content-padding: 16px;

@import '~bootstrap/scss/bootstrap';
@import '~snazzy-info-window/dist/snazzy-info-window.scss';

html, body {
  height: 100%;
}

// Safe Area Margin and Padding - taken from Bootstrap
@each $prop, $abbrev in (margin: m, padding: p) {
  .#{$abbrev}-sa {
    #{$prop}-left: env(safe-area-inset-left) !important;
    #{$prop}-right: env(safe-area-inset-right) !important;
    #{$prop}-bottom: env(safe-area-inset-bottom) !important;
  }

  .#{$abbrev}r-sa,
  .#{$abbrev}x-sa {
    #{$prop}-right: env(safe-area-inset-right) !important;
  }

  .#{$abbrev}b-sa {
    #{$prop}-bottom: env(safe-area-inset-bottom) !important;
  }

  .#{$abbrev}l-sa,
  .#{$abbrev}x-sa {
    #{$prop}-left: env(safe-area-inset-left) !important;
  }
}

.bg-primary-gradient {
  @extend .bg-primary;
  @extend .text-white;
  background-image: $primary-gradient;
}

.bg-primary-dark-gradient {
  @extend .bg-primary-dark;
  @extend .text-white;
  background-image: $primary-dark-gradient;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

.si-frame {
  padding-top: 28px;
  @extend .shadow-lg;
}

.si-float-wrapper {
  font-family: $font-family-base;
}
