$primary: #00796B;
$primary-dark: #004C40;
$primary-gradient: linear-gradient(135deg, $primary, $primary-dark);

$theme-colors: (
  "primary-dark": $primary-dark
);

$body-bg: #FAFAFA; // TODO: Change to background
$link-hover-color: $primary-dark;

@import '~bootstrap/scss/bootstrap';

.bg-primary-gradient {
  @extend .bg-primary;
  background-image: $primary-gradient;
}
